<div [hidden]="processing">
  <h4>Following users were returned from API Page</h4>
    <br/>
  <div *ngFor='let item of users ; let i = index;'>
    <li>{{item.firstName}},{{item.lastName}}
  </div>
</div>


